.howToHelpTitle {
    font-size: 1 rem;
    color: #0065A4;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-top: 5px;
}

.howToHelpCard {
    border-bottom: 1px solid #e1e6e8;
}

.howToHelpContent {
    text-align: justify;
}