@import '../../theme/theme.scss';

// ion-modal.information-modal {
//     width: 80%;
//     max-width: 400px;
//     margin: 50px auto;
//     background-color: #fff;
//     border-radius: 10px;
//     overflow: hidden;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
// }

.information-container {
    flex-direction: column;
    padding: 0.5em;
    overflow: auto;
}

.information-container ion-card {
    box-shadow: none;
    font-family: Montserrat;
    margin-top: 5px !important;
}

.information-container ion-card-header {
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #e1e6e8;
}

.information-container ion-card-content {
    padding: 5px;
}

.informationHeader {
    font-size: 1.5em;
    font-weight: 600;
    color: #0065A4;
    text-align: left;
}

.informationContent {
    font-size: 1em;
    text-align: justify;
}

ion-backdrop {
    background: var(--ion-color-dark);
    opacity: 0.3;
}


.emergency-modal__section {
    margin: 3 * $pad-lg 0;
}

.emergency-modal__header {
    margin: $pad-lg 0;
    @include font-sub-header();
    color: unset;
}

.emergency-modal__description {
    margin: $pad-lg 0;
    @include font-description();
    font-weight: 200;
}