@import '../../theme/theme.scss';

.button-wrapper {
    padding: $pad-lg;
    height: fit-content;
    width: fit-content;

    & span {
        @include font-regular();
    }
}

.button-wrapper__fill-width {
    width: 100%;
    padding: $pad-lg 0;

    & .button {
        width: 100%;
    }
}

.button-wrapper__outline {
    background-color: transparent;
    border: 2px solid;
}

.button-wrapper__emergency {
    background-color: red;
}

ion-button {
    --border-radius: 20px;
}

.view-emergency .button-wrapper ion-button {
    height: 75px;
}

.footer-elements {
    margin-bottom: 20px !important;
}

.view-emergency .button-wrapper .emergencyIcon {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
}

.chatbotButton {
    width: 200px
}

.emergencyText {
    font-size: 17px !important;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 10px;
}