@import '../../theme/theme.scss';

ion-modal.stack-modal {
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
}

.chatbot-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    margin: 15px;
}

.chatbotButton {
    --background: #d9e7ff;
    --border-radius: 90%;
    width: 60px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 90%;
}

.chatbotButton .chatbotIcon {
    color: #0065A4;
    width: 300px;
}

.chatbotButton:active {
    --background-activated: #d9e7ff;
}

.chat-bot-reply {
    background: #d9e7ff;
    padding: 20px;
    border-radius: 10px;
    min-height: 50px;
}

.bot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100%;
}

.bot-icon {
    max-width: 100%;
}

.user-input {
    background: #d9e7ff;
    padding: 10px;
    border-radius: 5px;
    min-height: 10px;
}

.userMessage {
    border-top: 0.005rem solid #9a9797;
}

.send-icon {
    margin: 10px;
    width: 30px;
}

.chat-content {
    flex-grow: 1;
    /* Allow the content to grow */
}

.buttonText {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.emergencySectionButton {
    width: 75%;
    margin: auto;
}